/*void #0E0B16 fuschia #A239CA jewel #4717F6 stark #E7DFDD*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display');

header {
	background-color: #4717F6; white;
	background-size: cover;
	background-position: center
	padding: 20px;
}

nav {
	text-decoration: none;
	font-size: 1.25em;
	background-color: #E7DFDD;
}

nav a {
	float: right;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #0E0B16;
}

nav a:hover {
	background-color: #4717F6;
	color: #E7DFDD;
}

body {
	font-family: 'Playfair Display', serif;
	color: #0E0B16;
}

h1 {
	font-size: 120px;
	padding: 70px 0px;
	margin: 20px;
	font-family: 'Josefin Sans', sans-serif;
	color: #E7DFDD;
	}

h3 {
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
	color: #4717F6;
}

a {
	text-decoration: none;
	color: #0E0B16;
}

footer {
	padding: 2em 0;
}

.projecticon{
	width: 50px;
}

#wrapper{
	width: 900px;
	margin: 0 auto;
}

#storyboard {
	width: 200px;
}

 #two_column {
 	border: 1px black solid;
 	padding: 2em;
 	margin: 1em 0;
 }

 #left {
 	border: 1px black solid;
 	padding: 20px;
 	float: left;
 	width: 25%;
 }

 #right {
 	border: 1px black solid;
 	padding: 20px;
 	float:right;
 	width: 62%;
 }

 .projects {
 	width: 120px;
 	height: 120px;
 	margin: 1em;
 	float: left;
 	border: 1px black solid;
 	padding: 2em;
 	text-align: center;
 }

 .projects:hover {
 	background-color: #E7DFDD;
 }

 #skillsone {
 	float:left;
 	width: 450px;
 	
 }

 #skillstwo {
 	float:right; 
 	width: 450px;

 }

 .quotes {
 	width: 200px;
 	height: 200px;
 	margin: 1em;
 	float: left;
 	border: 1px black solid;
 	padding: 2em;
 	background-color: #4717F6;
 	color: #E7DFDD;
 }

 .clearfix:after {
 	visibility: hidden;
 	display: block;
 	font-size: 0;
 	content: " ";
 	clear: both;
 	height: 0;
 }

